process {

    withName:PREPEND_FILENAME {
        container = 'sim_ldhat/sim_ldhat:latest'
    }

    withName:FREEBAYES {
        container = 'quay.io/biocontainers/freebayes:1.3.5--py38ha193a2f_3'
    }

    withName:VCF_TO_FASTA {
        container = 'quay.io/biocontainers/vcflib:1.0.2--h3198e80_5'
    }

    withName:UPDATE_HEADER {
        container = 'sim_ldhat/sim_ldhat:latest'
    }

    withName:MERGE_FASTAS {
        container = 'sim_ldhat/sim_ldhat:latest'
    }
}

docker {
    enabled = true
}